* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Russo One, Arial, sans-serif;
    color: #E4C5AF;
    user-select: none;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #074F57;
}

@supports not (height: 100dvh) {
    body {
        height: 100vh;
    }
}

header {
    font-size: 1.7rem;
    padding-top: 3rem;
}

main {
    margin: auto;
}

footer {
    position: fixed;
    bottom: 0.75rem;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.container {
    width: 21rem;
    /* height: 32rem;*/
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 2%;
    background-color: #077187;
    padding: 0.5rem;
}

.screen {
    word-wrap: break-word;
    flex: 0.9;
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0.35rem 0.35rem 0.35rem;
    background-color:  #2b2d42 ;
    border-radius: 1.75%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px, rgba(0, 0, 0, 0.25) 0px 7px 13px -3px, rgba(0, 0, 0, 0.15) 0px -3px 0px inset;
    min-height: 4.75rem;
}

.line {
    flex: 1;
    display: flex;
    /* width: 20rem; */
}

.line button {
    flex: 1;
    margin: 0.2rem 0.275rem 0.2rem 0.275rem; 
    border-radius: 10%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
    background-color:  rgba(255, 255 ,255, 0.04);
    font-size: 0.9rem;
    border: 0px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); 
    height: 4rem;
}

button:hover {
  transform: scale(0.93);
  font-size: 0.87rem;
  background-color: rgba(255, 255 ,255, 0.40);
}

button[data-func="AC"]:hover,
button[data-func="DEL"]:hover {
    background-color: rgb(255, 81, 89, 0.9);
}

button[data-func='=']:hover {
    background-color: rgb(92, 186, 112);
    color:#303030;
}

.screen > div.primary {
    flex: 1;
    text-align: right;
    font-size: 1.6rem;
    padding: 0.2rem;
}

.screen > div.secondary {
    flex: 1;
    text-align: right;
    font-size: 1.25rem;
    padding: 0.2rem;
}


@media only screen and (max-width: 768px) {
    .container {
        transform: scale(0.8);
    }

    footer {
        transform: scale(0.8);
    }
}